h1 {
    color: #777777;
    font-family: verdana;
    font-size: 250%;
}

p {
    color: #766765;
    font-family: courier;
    font-size: 300%;
}

.wmd-panel {
    margin-left: 0px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 50%;
    min-width: 500px;
}