
<nav class="navbar navbar-default">
        <div class="container-fluid inline">
          <ul class=" breadcrumb">
            <li class="active"><a href="/posts/list">Home</a></li>
            <li ><a href="  /posts/create"> create </a></li>
            {% if not request.user.is_authenticated %}
            <li class="pull-right"><a href="  /login"> login </a></li>
            <li class="pull-right"><a href="  /register"> register </a></li>
            {% else %}
            <li class="pull-right"><a href="  /logout"> logout </a></li>
            {% endif %}

            
          </ul>
        </div>
      </nav>