{% extends 'base.html' %}


{% block content %}
    

<div class="container  ">
    <div class="row justify-content-center align-self-center">
        <h1> List</h1>
    </div>
    <div class="form-inline">
        <form  method="GET" action="">
              <input class="form-control mr-sm-2" type="text" name='q' placeholder='search posts'>
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">search<i class="fa fa-search"></i></button>
        </form>
    </div>
  
    {% for i in obj %}
        <div class="border border-primary rounded-lg  raw  p-2 ">
            <h1> <a href="{% url 'detail' slug=i.slug %}">{{ i.title }}</a>
           <!--
                {% url 'detail' slug=i.slug %}
                /posts/{{ i.id }} -->
            </h1> <br/>
        {% if i.draft %}
            <p style={color:red}>Draft</p>
        {% endif %}

        {% if i.user.get_full_name %}
            <p>Author:{{ i.user.get_full_name }}</p><br/>
        {% endif %}

        {% if i.image %}
            <img src="{{ i.image.url }}" class="img-responsive" 
                style="width: 100px ;height:100px; float: left; margin-right: 10px;" /> <br/>
        {% endif %}<br/>

        <p class='content-markdown'>{{ i.content|truncatechars:120 }} </p><br/>
        {{ i.timestamp }}<br/>
        {{ i.updated }}<br/>
       

        <div class='caption post-detail-item'>
             <p class=''>==={{ i.get_markdown }}</p>
        </div>

        <form action="" method="POST">
            <p>
                <a class="btn btn-primary"  href=" {% url 'delete' id=i.id %}" role="button"  >  Delete </a>
                <a class="btn btn-primary" href=" {% url 'update' slug=i.slug %}" role="button" > update  </a>
            </p>           
        </form>
    {% endfor %}
</div>
        



<div class="pagination">
        <span class="step-links">
            {% if obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ obj.previous_page_number }}
                {% if request.Get.q %}& q={{ request.GET.q }} {% endif %}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ obj.number }} of {{ obj.paginator.num_pages }}.
            </span>
    
            {% if obj.has_next %}
                <a href="?page={{ obj.next_page_number }}{% if request.Get.q %}& q={{ request.GET.q }} {% endif %}">next</a>
                <a href="?page={{ obj.paginator.num_pages }}{% if request.Get.q %}& q={{ request.GET.q }} {% endif %}">last &raquo;</a>
            {% endif %}
        </span>
</div>

    </div>
 {% endblock %}